.account_section {
  height: auto;
  background-color: var(--white-color);

  @include avarage-device {
    padding: 6.5rem 3rem 5rem 3rem;
    background-color: #f4f4f4;
  }
}

.account__title {
  display: none;

  @include avarage-device {
    display: inline-block;
    margin-bottom: 2.5rem;

    color: #232221;
    font-size: 5.1rem;
    line-height: 100%;
    font-weight: 500;
  }
}

.account_list {
  display: none;

  @include avarage-device {
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
  }
}

.account__item {
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  color: #707070;
  font-size: 0.7rem;
  position: relative;
  @include avarage-device {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0;
  }
}

.current {
  color: var(--black-color);
  font-weight: 500;
}

.current__mobile {
  color: var(--black-color);
  font-weight: 500;
}

.current__mobile::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #334dcd;
  border-radius: 2px;
}

.mobile__account__thumb {
  display: block;
  background: #f5f5f5;
  padding: 3.15rem 1rem 0.75rem 1rem;

  @include avarage-device {
    display: none;
  }
}

.mobile__account_list {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #e8e8e8;
}

.section__title {
  color: #272627;
  font-size: 1rem;
  font-weight: 500;

  @include avarage-device {
    color: var(--black-color);

    font-size: 1.8rem;
    font-weight: 400;
  }
}

.account__thumb {
  display: block;

  @include avarage-device {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }

  @include desktop-up {
    gap: 4rem;
  }

  @include large-device {
    gap: 14.65rem;
  }
}

.orders__section {
  padding: 1rem;
  @include desktop-up {
    width: 100%;
    padding: 0;
  }
}

.orders__search__thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include avarage-device {
    border-bottom: 2px solid #d9d9d9;
  }
}

.search__input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid #d9d9d9;
  @include avarage-device {
    border: none;
  }
}

.search:focus {
  outline: none;
}

.search {
  width: 3rem;
  background-color: transparent;
  border: transparent;
  padding-top: 0.25rem;
  color: #6e6e73;
  font-size: 0.7rem;
  letter-spacing: -0.35px;
}

.search__icon {
  @include avarage-device {
    width: 1rem;
    height: 1rem;
  }
}

.search::placeholder {
  color: #6e6e73;
  font-size: 0.7rem;
  letter-spacing: -0.35px;
  @include avarage-device {
    font-size: 1rem;
    letter-spacing: -0.5px;
  }
}

.section__description {
  color: var(--semiTransparentBlack);
  font-size: 0.7rem;
  letter-spacing: -0.35px;
  margin-top: 1.25rem;

  @include avarage-device {
    font-size: 1rem;
    letter-spacing: -0.5px;
    margin-top: 1.65rem;
  }
}

.filter__list {
  display: none;
  @include desktop-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8rem;
    border-bottom: 3px solid #e6e6e6;
  }
}

.mobile__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #e7e9ed;
  background: #f9f9f9;
  margin-top: 1.25rem;
  margin-bottom: 0.6rem;
  @include desktop-up {
    display: none;
  }
}

.filter__item {
  color: var(--black-color);
  font-size: 1rem;
  padding: 0.3rem 1.5rem;
  position: relative;
}

.current__item::after {
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #334dcd;
  border-radius: 2px;
}

.filter__quantity {
  color: #707070;
  font-size: 0.7rem;
  line-height: 112.5%;
  @include desktop-up {
    display: none;
  }
}

.filter__category {
  color: #707070;
  font-size: 0.8rem;
}

.order__card {
  background: #fff;

  @include desktop-up {
    border: 1.192px solid #d9d9d9;
  }
}

.order__card:not(:first-child) {
  @include till-desktop {
    padding-top: 2rem;
  }
}

.order__card:not(:last-child) {
  @include till-desktop {
    padding-bottom: 2rem;
    border-bottom: 1px solid #d9d9d9;
  }
}

.order__card_list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  @include desktop-up {
    gap: 1rem;
  }
}

.order__card__thumb {
  padding: 0 0 1rem 0;

  @include avarage-device {
    padding: 1.6rem 1.5rem 0.75rem 1.5rem;
  }
}

.order__card__title__thumb {
  display: flex;
  align-items: center;
  @include only-mobile {
    gap: 0.25rem;
  }
}

.order__card__title {
  color: var(--black-color);
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.4px;

  @include desktop-up {
    font-size: 1.2rem;
  }
}

.order__card__status {
  color: #eb5757;
  font-size: 0.7rem;
  letter-spacing: -0.35px;

  @include desktop-up {
    font-size: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #d9d9d9;
    letter-spacing: -0.5px;
  }
}

.order__card__code {
  display: none;
  @include desktop-up {
    display: inline-block;
    color: #334dcd;
    font-size: 1rem;
    letter-spacing: -0.5px;
    padding-left: 1rem;
  }
}

.order__card__top__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.35rem;
}

.order__card__date {
  color: #707070;
  font-size: 0.7rem;
  line-height: 18px;
  margin-bottom: 0.75rem;
  display: block;
  @include desktop-up {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
  }
}

.order__list {
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

.order__item {
  display: flex;
  gap: 0.5rem;

  @include desktop-up {
    gap: 2rem;
  }
}

.item__image {
  display: none;
  @include desktop-up {
    display: block;
  }
}

.item__image__mobile {
  display: block;
  @include desktop-up {
    display: none;
  }
}

.order__card__name__thumb {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.25rem;
  @include desktop-up {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.order__item__name {
  color: var(--black-color);
  font-size: 0.8rem;
  @include desktop-up {
    font-size: 1rem;
  }
}

.order__item__article {
  color: #808080;
  font-size: 0.9rem;
}

.order__item__article__thumb {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.order__card__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;
  @include desktop-up {
    justify-content: space-between;
    flex-direction: row;
  }
}

.order__card__price {
  color: #707070;
  font-size: 0.7rem;

  @include desktop-up {
    color: var(--black-color);
    font-size: 1rem;
  }
}

.order__card__price__thumb {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.order__card__price__title {
  color: #707070;
  font-size: 0.6rem;
  letter-spacing: -0.3px;

  @include desktop-up {
    font-size: 1rem;
    letter-spacing: -0.5px;
    color: var(--black-color);
  }
}

.order__card__price__sum {
  color: var(--black-color);
  font-size: 0.8rem;
  font-weight: 500;
  @include desktop-up {
    font-size: 1rem;
    letter-spacing: -0.5px;
  }
}

.order__card__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0 0.25rem 0rem;
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #f5f5f5;

  @include avarage-device {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }
}

.purchase__details {
  border: transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #334dcd;
  font-size: 0.8rem;
  font-weight: 500;

  @include desktop-up {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

.purchase__details__btn {
  display: flex;
  justify-content: space-around;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  cursor: pointer;
  border: 1px solid #dedede;
  margin-top: 0.5rem;
  @include desktop-up {
    border: none;
    margin-top: 0;
    padding: 0.75rem 1.5rem 0.85rem 1.5rem;
  }
}
