.footer {
  height: 30.05rem;
  display: flex;
  flex-direction: column;

  @include avarage-device {
    height: 47.85rem;
    flex-direction: row;
  }
}

.footer__banner {
  display: none;

  @include avarage-device {
    padding: 4.75rem 2rem 2.25rem 2rem;
    width: 50%;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280%;
    position: relative;
    display: block;
  }

  @include desktop-up {
    padding: 4.75rem 4.55rem 2.25rem 4rem;
  }
}

.footer__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 38, 39, 0.7);
  z-index: 2;
}

.footer__banner__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__form__section {
  width: auto;
  background-color: #1c1c1c;
  padding: 3.65rem 1rem 4rem 1rem;

  @include avarage-device {
    width: 50%;
    padding: 7.45rem 4rem 3.95rem 4.1rem;
  }
}

.footer__form__top {
  display: none;

  @include avarage-device {
    display: block;
    margin-bottom: 10.65rem;
  }
}

.footer__title {
  color: var(--white-color);
  font-size: 4rem;
  font-weight: 500;
  line-height: 90.49%;
  z-index: 3;
  position: relative;
  max-width: 31.5rem;

  @include desktop-up {
    font-size: 4.1rem;
  }

  @media screen and (min-width: 1400px) {
    font-size: 5.1rem;
  }
}

.footer__privacy {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 140.49%;
  z-index: 3;
  position: relative;
}

.footer__form__title {
  color: var(--white-color);
  font-size: 1.8rem;
  margin-bottom: 2.8rem;
}

.footer__form__label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.footer__form__input::placeholder {
  color: var(--semiTransparentWhite);
  font-size: 0.9rem;
  font-weight: 400;
}

.footer__form__input:focus {
  outline: 2px solid var(--semiTransparentWhite);
  border-bottom: 2px solid transparent;
}

.footer__submin__btn {
  background: var(--white-color);
  display: flex;
  width: 7.8rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 400;
  border: transparent;
  gap: 0.75rem;
  margin-top: 2.5rem;
  cursor: pointer;
}

.footer__form__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.column {
  flex: calc(50% - 1rem);
  display: block;
}

.footer__form__input {
  width: 100%;
  padding: 0.35rem 0.5rem 0.35rem 0;
  margin-top: 0.65rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: var(--semiTransparentWhite);
  font-size: 0.9rem;
  font-weight: 400;
}

.footer__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.8rem;

  @include avarage-device {
    color: var(--semiTransparentWhite);
    font-size: 1rem;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;

  @include avarage-device {
    justify-content: space-between;
    gap: 8px;
  }

  @include desktop-up {
    justify-content: space-between;
    flex-direction: row;
  }
}

.footer_info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  @include avarage-device {
    margin-top: 0;
    gap: 1rem;
    flex-direction: row;
  }
}

.footer__social {
  margin-top: 4rem;
  display: flex;
  gap: 1.15rem;

  @include avarage-device {
    margin-top: 0;
    gap: 0.5rem;
  }
}

.footer__social__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.8rem;

  @include avarage-device {
    color: var(--semiTransparentWhite);
    font-size: 1rem;
  }
}

.footer__social__link:not(:last-child) {
  @include avarage-device {
    border-right: 1px solid rgba(153, 153, 153, 0.5);
    padding-right: 1.15rem;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 3.15rem;

  @include avarage-device {
    display: none;
  }
}

.mobile__footer__info {
  display: block;
  height: 17.5rem;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 140.49%;
  padding: 2.5rem 1rem;
  background-color: #151515;
  @include avarage-device {
    display: none;
  }
}

.mobile__banner {
  display: block;
  background-color: #f5f5f5;
  padding: 6.4rem 1rem;

  @include avarage-device {
    display: none;
  }
}

.mobile__banner__title {
  color: #1c1c1c;
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: -1.05px;
  margin-bottom: 1.05rem;
}

.mobile__banner__contact__link {
  color: #334dcd;
  font-size: 0.9rem;
  letter-spacing: -0.45px;
}

.mobile__banner__contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
