$bp-mobile: 800px;
$bp-desktop: 1200px;
$bp-large-desktop: 1600px;

@mixin only-mobile {
  @media (max-width: $bp-mobile) {
    @content;
  }
}

@mixin till-desktop {
  @media (max-width: $bp-desktop) {
    @content;
  }
}

@mixin avarage-device {
  @media (min-width: $bp-mobile) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

@mixin large-device {
  @media (min-width: $bp-large-desktop) {
    @content;
  }
}
