/* Base */

html {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: Fira Sans;
  background-color: #f4f4f4;
  overflow-y: scroll;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 12px;

  @media screen and (min-width: 800px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* Header Section */

.header {
  width: 100%;
  height: 48px;
  background-color: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 800px) {
    height: 60px;
  }
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__nav__list {
  display: none;

  @media screen and (min-width: 800px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.header__icons__thumb {
  display: flex;
  align-items: center;
  gap: 15px;
  @media screen and (min-width: 800px) {
    gap: 25px;
  }
}

.bag__icon {
  position: relative;
}

.user-icon {
  display: none;
  @media screen and (min-width: 800px) {
    display: block;
  }
}

.burger-icon {
  display: block;
  @media screen and (min-width: 800px) {
    display: none;
  }
}

.quantity {
  display: none;
  @media screen and (min-width: 800px) {
    width: 23px;
    height: 23px;
    background-color: #334dcd;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    letter-spacing: -0.35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    right: 98px;
  }
}

.header__nav__item {
  color: #000;
  font-size: 1rem;
  letter-spacing: -0.5px;
}

/* Account */

.account_section {
  height: 100vh;
  background-color: #fff;

  @media screen and (min-width: 800px) {
    padding-left: 60px;
    padding-right: 60px;
    height: 794px;
    background-color: #f4f4f4;
  }
}

.account__title {
  display: none;

  @media screen and (min-width: 800px) {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 50px;

    color: #232221;
    font-size: 5.1rem;
    line-height: 100%;
  }
}

.account_list {
  display: none;

  @media screen and (min-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
}

.account__item {
  padding: 5px 15px;
  color: #707070;
  font-size: 0.7rem;
  border-bottom: 2px solid #e8e8e8;
  @media screen and (min-width: 800px) {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    white-space: nowrap;
    padding: 0;
  }
}

.current {
  color: #000;
  font-weight: 500;
}

.current__mobile {
  border-bottom: 2px solid rgb(31, 67, 210);
}

.mobile__account__thumb {
  display: block;
  background: #f5f5f5;
  padding: 15px 20px;

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.mobile__account_list {
  display: flex;
  justify-content: center;
}

.section__title {
  color: #272627;
  font-size: 1rem;
  font-weight: 500;

  @media screen and (min-width: 800px) {
    color: #000;

    font-size: 1.8rem;
    font-weight: 400;
  }
}

.account__thumb {
  display: block;

  @media screen and (min-width: 800px) {
    display: flex;
    align-items: center;
    gap: 150px;
  }

  @media screen and (min-width: 1200px) {
    gap: 293px;
  }
}

.orders__section {
  width: auto;
  padding: 20px;
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.orders__search__thumb {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d9d9d9;
}

.search__input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search__placeholder {
  color: #6e6e73;
  font-size: 1rem;
  letter-spacing: -0.5px;
}

.section__description {
  color: rgb(0, 0, 0, 0.5);
  font-size: 0.7rem;
  letter-spacing: -0.35px;

  @media screen and (min-width: 800px) {
    font-size: 1rem;
    letter-spacing: -0.5px;
  }
}

/* Footer */

.footer {
  height: 957px;
  display: flex;
}

.footer__banner {
  padding: 95px 91px 45px 80px;
  width: 50%;
  /* height: 100%; */
  background-image: url(./images/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 280%;
  position: relative;
}

.footer__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 38, 39, 0.7);
  z-index: 2;
}

.footer__banner__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__form__section {
  width: 50%;
  background-color: #1c1c1c;
  padding: 149px 80px 79px 82px;
}

.footer__form__top {
  margin-bottom: 213px;
}

.footer__title {
  color: #fff;
  font-size: 5.1rem;
  font-weight: 500;
  line-height: 90.49%; /* 92.3px */
  z-index: 3;
  position: relative;
  max-width: 630px;
}

.footer__privacy {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140.49%; /* 28.098px */
  z-index: 3;
  position: relative;
}

.footer__form__title {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 56px;
}

.footer__form__label {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.footer__form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
}

.footer__submin__btn {
  background: #fff;
  display: flex;
  width: 156px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  border: transparent;
  gap: 15px;
  margin-top: 50px;
}

.footer__form__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.column {
  flex: calc(50% - 20px);
  display: block;
}

.footer__form__input {
  width: 100%;
  padding: 7px 0px;
  margin-top: 13px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.footer__link {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
}

.footer_info {
  display: flex;
  gap: 20px;
}

.footer__social__links {
  display: flex;
  gap: 10px;
}
